{% extends 'base.html.twig' %}

{% block title %}Villes des pays{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

    h1{
        text-align : center
    }

    ul li {
        text-align : center;
        list-style-type : none;
    }
    ul li a {
        text-decoration : none;
    }
<<<<<<< HEAD
   
=======
>>>>>>> 359aa36334b50395a83eee3457f42226d19b68e2
</style>

<div class="example-wrapper">
    <h1>Les villes de {{pays.nom}}</h1>

<ul>
    {% for ville in pays.getVilles %}
    <li>{{ville.nom }} </li>
    {% endfor %}
</ul>
</div>
{% endblock %}
